<% include ../partials/header %> 

 <div class="container">
     <!--<header class="jumbotron">-->
     <!--    <div class="container">-->
     <!--        <h1>Welcome To Tenlear!</h1>-->
     <!--        <p>View our hand-picked topics from all over the world</p>-->
     <!--        <p>-->
     <!--           <a class="btn btn-primary btn-large" href="/topics/new">Add New Topic</a>-->
     <!--        </p>-->
     <!--    </div>-->
     <!--</header>-->
            <p>
                <a class="btn btn-primary btn-large" href="/topics/new">Add New Topic</a>
             </p>
        <% topics.forEach(function(topic){ %>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= topic.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a href="/topics/<%= topic._id %>"><%=topic.name%></a></h4>
                <div class="text-right">
                    <a class="btn btn-success" href="/topics/<%= topic._id %>/tutorials/new">Add New Tutorial</a>
                </div>
                    <p><%= topic.description %></p>
                    <p>
                        <em>Submitted By <%= topic.author.username %></em>
                    </p>
                    <% if(currentUser && topic.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/topics/<%= topic._id %>/edit">Edit</a>
                        <form id="delete-form" action="/topics/<%= topic._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>


                <hr>
                <% topic.tutorials.forEach(function(tutorial){ %>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= tutorial.author.username%></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= tutorial.title %> 
                                <%= tutorial.text %> 
                            </p>
                        <% if(currentUser && tutorial.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/topics/<%=topic._id %>/tutorials/<%=tutorial._id %>/edit">Edit</a>
                            <form id="delete-form" action="/topics/<%=topic._id %>/tutorials/<%=tutorial._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        <a class="btn btn-primary btn-xs" href="/topics/<%=topic._id %>/tutorials/<%=tutorial._id %>/show">Read more</a>
                        <a class="btn btn-primary btn-xs" href="/topics/<%=topic._id %>/tutorials/<%=tutorial._id %>/upvote">Upvote</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <% }); %>
</div>

<% include ../partials/footer %>
