<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%=currentUser.firstname%>
            <%=currentUser.lastname%><br>
            <%=currentUser.email%><br>
            <%=currentUser.expert%><br>
        </div>
        <% tutorials.forEach(function(tutorial){ %>
            <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= tutorial.topic.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$9.00/night</h4>
                    <h4><a href="/topics/<%= tutorial.topic._id %>"><%=tutorial.topic.name%></a></h4>
                <div class="text-right">
                    <a class="btn btn-success" href="/topics/<%= tutorial.topic._id %>/tutorials/new">Add New Tutorial</a>
                </div>
                    <p><%= tutorial.topic.description %></p>
                    <p>
                        <em>Submitted By <%= tutorial.topic.author.username %></em>
                    </p>
                    <% if(currentUser && tutorial.topic.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/topics/<%= tutorial.topic._id %>/edit">Edit</a>
                        <form id="delete-form" action="/topics/<%= tutorial.topic._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                    <a class="btn btn-xs btn-primary" href="/topics/<%= tutorial.topic._id %>/upvote">Helpful</a><%=tutorial.topic.priority%>
                </div>
            </div>
        <div class="col-md-12">
            <span class="pull-right">10 days ago</span>
            <p>
                                <%= tutorial.title %> 
                                <%-tutorial.text %> 
                            </p>
                                    <% if(currentUser && tutorial.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/topics/<%=tutorial.topic._id %>/tutorials/<%=tutorial._id %>/edit">Edit</a>
                            <form id="delete-form" action="/topics/<%=tutorial.topic._id %>/tutorials/<%=tutorial._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        <a class="btn btn-primary btn-xs" href="/topics/<%=tutorial.topic._id %>/tutorials/<%=tutorial._id %>/show">Read more</a>
                            
<% }); %>
<% include ../partials/footer %>