<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Tutorial</h1>
        <div style="width: 100%; margin: 25px auto;">
            <form action="/topics/<%= topic_id %>/tutorials/<%= tutorial._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="tutorial[title]" value="<%= tutorial.title %>">
                </div>
                <div id="toolbar1">
                   <select onchange="formatDoc('formatblock',this[this.selectedIndex].value);this.selectedIndex=0;">
<option selected>- formatting -</option>
<option value="h1">Title 1 &lt;h1&gt;</option>
<option value="h2">Title 2 &lt;h2&gt;</option>
<option value="h3">Title 3 &lt;h3&gt;</option>
<option value="h4">Title 4 &lt;h4&gt;</option>
<option value="h5">Title 5 &lt;h5&gt;</option>
<option value="h6">Subtitle &lt;h6&gt;</option>
<option value="p">Paragraph &lt;p&gt;</option>
<option value="pre">Preformatted &lt;pre&gt;</option>
</select>
<select onchange="formatDoc('fontname',this[this.selectedIndex].value);this.selectedIndex=0;">
<option class="heading" selected>- font -</option>
<option>Arial</option>
<option>Arial Black</option>
<option>Courier New</option>
<option>Times New Roman</option>
</select>
<select onchange="formatDoc('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;">
<option class="heading" selected>- size -</option>
<option value="1">Very small</option>
<option value="2">A bit small</option>
<option value="3">Normal</option>
<option value="4">Medium-large</option>
<option value="5">Big</option>
<option value="6">Very big</option>
<option value="7">Maximum</option>
</select>
<select onchange="formatDoc('forecolor',this[this.selectedIndex].value);this.selectedIndex=0;">
<option class="heading" selected>- color -</option>
<option value="red">Red</option>
<option value="blue">Blue</option>
<option value="green">Green</option>
<option value="black">Black</option>
</select>
<select onchange="formatDoc('backcolor',this[this.selectedIndex].value);this.selectedIndex=0;">
<option class="heading" selected>- background -</option>
<option value="red">Red</option>
<option value="green">Green</option>
<option value="black">Black</option>
</select> 
                </div>
                <div id="toolbar2" class="btn-group">
<span class="btn btn-primary"onclick="formatDoc('bold');" >
                <i class="fa fa-bold cursor" aria-hidden="true" id="bold" ></i>
                </span>
<span id="italic" onclick="formatDoc('italic');" class="btn btn-primary">
<i class="fa fa-italic cursor" aria-hidden="true" ></i>
</span>
<span onclick="formatDoc('underline');" class="btn btn-primary">
<i class="fa fa-underline cursor" aria-hidden="true" id="underline"></i>
</span>
<span onclick="formatDoc('insertorderedlist');" class="btn btn-primary">
    Ol
</span>
<span onclick="formatDoc('insertunorderedlist');" class="btn btn-primary">
    Ul
</span>
                </div>

                <div class="form-control" id="tut_text" contenteditable="true" style="border:1px solid black;height:auto;min-height:100px;">
                    <%- tutorial.text %>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="tut_input"  name="tutorial[text]" value="<%= tutorial.text %>" style="display:none;">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" onclick="assign()">Submit!</button>
                </div>
            </form>
            <a href="/topics">Go Back</a>
        </div>
    </div>
</div>
<script>

function assign(){
    var tut_text=document.getElementById("tut_text");
    var tut_input=document.getElementById("tut_input");
    tut_input.value=tut_text.innerHTML;
}
function formatDoc(sCmd, sValue) {
   document.execCommand(sCmd, false, sValue);
}
</script>
<% include ../partials/footer %>

